/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 39, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 47, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 55, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 69, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 82, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 88, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 109, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 122, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 153, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 159, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 163, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 168, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 173, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 180, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 188, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 195, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 202, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 208, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 214, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 220, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 227, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 231, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 245, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 249, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 256, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 268, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* line 274, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 285, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 296, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 301, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 310, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 323, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 333, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 347, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 355, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 364, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 374, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 384, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 390, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 397, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 409, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 11, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
  font-size: 16px;
}

@font-face {
  font-family: 'FanwoodRegular';
  src: url("../fonts/fanwood/Fanwood-webfont.eot");
  src: url("../fonts/fanwood/Fanwood-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fanwood/Fanwood-webfont.woff") format("woff"), url("../fonts/fanwood/Fanwood-webfont.ttf") format("truetype"), url("../fonts/fanwood/Fanwood-webfont.svg#FanwoodRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FanwoodItalic';
  src: url("../fonts/fanwood/Fanwood-Italic-webfont.eot");
  src: url("../fonts/fanwood/Fanwood-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fanwood/Fanwood-Italic-webfont.woff") format("woff"), url("../fonts/fanwood/Fanwood-Italic-webfont.ttf") format("truetype"), url("../fonts/fanwood/Fanwood-Italic-webfont.svg#FanwoodItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LoversQuarrelRegular';
  src: url("../fonts/Lovers-quarel/LoversQuarrel-Regular-webfont.eot");
  src: url("../fonts/Lovers-quarel/LoversQuarrel-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lovers-quarel/LoversQuarrel-Regular-webfont.woff") format("woff"), url("../fonts/Lovers-quarel/LoversQuarrel-Regular-webfont.ttf") format("truetype"), url("../fonts/Lovers-quarel/LoversQuarrel-Regular-webfont.svg#LoversQuarrelRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CharisSILRegular';
  src: url("../fonts/Charis/CharisSILR-webfont.eot");
  src: url("../fonts/Charis/CharisSILR-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Charis/CharisSILR-webfont.woff") format("woff"), url("../fonts/Charis/CharisSILR-webfont.ttf") format("truetype"), url("../fonts/Charis/CharisSILR-webfont.svg#CharisSILRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CreteRoundRegular';
  src: url("../fonts/Crete-round/CreteRound-Regular-webfont.eot");
  src: url("../fonts/Crete-round/CreteRound-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Crete-round/CreteRound-Regular-webfont.woff") format("woff"), url("../fonts/Crete-round/CreteRound-Regular-webfont.ttf") format("truetype"), url("../fonts/Crete-round/CreteRound-Regular-webfont.svg#CreteRoundRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSerifRegular';
  src: url("../fonts/Droid-serif/DroidSerif-Regular-webfont.eot");
  src: url("../fonts/Droid-serif/DroidSerif-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Droid-serif/DroidSerif-Regular-webfont.woff") format("woff"), url("../fonts/Droid-serif/DroidSerif-Regular-webfont.ttf") format("truetype"), url("../fonts/Droid-serif/DroidSerif-Regular-webfont.svg#DroidSerifRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 36, ../sass/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  color: #50591e;
}

/* line 40, ../sass/partials/_page.scss */
h1 {
  padding: 0;
  margin: 0;
}

/* line 45, ../sass/partials/_page.scss */
h1 {
  font-size: 2.618em;
}

/* line 49, ../sass/partials/_page.scss */
h2 {
  font-size: 1.618em;
}

/* line 53, ../sass/partials/_page.scss */
h3 {
  font-size: 1em;
}

/* line 57, ../sass/partials/_page.scss */
h4 {
  font-size: 0.618em;
}

/* line 61, ../sass/partials/_page.scss */
h5 {
  font-size: 0.382em;
}

/* line 65, ../sass/partials/_page.scss */
h6 {
  font-size: 0.236em;
}

/* line 69, ../sass/partials/_page.scss */
a {
  text-decoration: none;
  color: #859e05;
  -moz-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
}
/* line 74, ../sass/partials/_page.scss */
a:hover {
  text-decoration: none;
  color: #798f04;
}
/* line 78, ../sass/partials/_page.scss */
a:visited {
  text-decoration: none;
  color: #657026;
}

/* line 84, ../sass/partials/_page.scss */
p > a:visited {
  text-decoration: none;
  color: #859e05;
}

/* line 89, ../sass/partials/_page.scss */
a:focus {
  outline: 0;
}

/* line 93, ../sass/partials/_page.scss */
ul {
  list-style-image: url("../images/check.png");
}

/* line 97, ../sass/partials/_page.scss */
ul ul {
  list-style: disc;
}

/* line 101, ../sass/partials/_page.scss */
ol ol {
  list-style-type: circle;
}

/* line 105, ../sass/partials/_page.scss */
table {
  margin: 0 auto;
}

/* line 109, ../sass/partials/_page.scss */
td {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0.618em;
  border: 1px solid #364002;
  font-size: 0.9em;
}

/* line 116, ../sass/partials/_page.scss */
th {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  text-align: left;
  border: 1.6px solid #374200;
  padding: 0 1em;
}

/* line 123, ../sass/partials/_page.scss */
thead th {
  border: none;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: normal;
  font-family: header-font;
  padding-bottom: 0.618em;
}

/* line 133, ../sass/partials/_page.scss */
button {
  -webkit-border-radius: 0.618em;
  -moz-border-radius: 0.618em;
  -ms-border-radius: 0.618em;
  -o-border-radius: 0.618em;
  border-radius: 0.618em;
  transition: all 0.4s linear 0.3s;
  -moz-transition: all 0.4s linear 0.3s;
  -o-transition: all 0.4s linear 0.3s;
  -webkit-transition: all 0.4s linear 0.3s;
  -ms-transition: all 0.4s linear 0.3s;
  background: #50591e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #50591e 0%, #50591e 50%, #364002 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #50591e), color-stop(50%, #50591e), color-stop(100%, #364002));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #50591e 0%, #50591e 50%, #364002 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #50591e 0%, #50591e 50%, #364002 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #50591e 0%, #50591e 50%, #364002 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #50591e 0%, #50591e 50%, #364002 100%);
  /* W3C */
  -webkit-box-shadow: black 0.09em 0.09em 0.236em;
  -moz-box-shadow: black 0.09em 0.09em 0.236em;
  box-shadow: black 0.09em 0.09em 0.236em;
  padding: 0.236em 0.618em;
  color: #a0b23c;
  text-shadow: 0px 0.3px #dbe4ae;
  letter-spacing: 0.382em;
  text-align: center;
}
/* line 129, ../sass/partials/_base.scss */
button:hover {
  -webkit-box-shadow: black 0.2px 0.2px 0.09em;
  -moz-box-shadow: black 0.2px 0.2px 0.09em;
  box-shadow: black 0.2px 0.2px 0.09em;
  color: #c1cf71;
}

/* line 138, ../sass/partials/_page.scss */
blockquote p:before {
  content: open-quote;
  padding-right: 0.308em;
}
/* line 142, ../sass/partials/_page.scss */
blockquote p:after {
  content: close-quote;
  padding-left: 0.308em;
}

/* line 148, ../sass/partials/_page.scss */
fieldset {
  border: 1px solid #50591e;
  background-color: #dce4b0;
}

/* line 153, ../sass/partials/_page.scss */
label {
  display: inline-block;
  min-width: 11.089em;
  border-bottom: 1px dotted #364002;
}

/* line 159, ../sass/partials/_page.scss */
input[type="text"], textarea {
  color: #1d2201;
  margin: 1em 0;
  background-color: #eaefcf;
  font-family: "CharisSILRegular", Georgia, Times, "Times New Roman", serif;
  padding: 0 0.236em;
}

/* line 167, ../sass/partials/_page.scss */
textarea {
  background: #eef2d9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eef2d9 0%, #eef2d9 76%, #e3e9bf 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eef2d9), color-stop(76%, #eef2d9), color-stop(100%, #e3e9bf));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eef2d9 0%, #eef2d9 76%, #e3e9bf 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eef2d9 0%, #eef2d9 76%, #e3e9bf 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eef2d9 0%, #eef2d9 76%, #e3e9bf 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eef2d9 0%, #eef2d9 76%, #e3e9bf 100%);
  /* W3C */
}

/* line 171, ../sass/partials/_page.scss */
input[type="submit"], input[type="reset"] {
  -webkit-border-radius: 0.618em;
  -moz-border-radius: 0.618em;
  -ms-border-radius: 0.618em;
  -o-border-radius: 0.618em;
  border-radius: 0.618em;
  transition: all 0.4s linear 0.3s;
  -moz-transition: all 0.4s linear 0.3s;
  -o-transition: all 0.4s linear 0.3s;
  -webkit-transition: all 0.4s linear 0.3s;
  -ms-transition: all 0.4s linear 0.3s;
  background: #50591e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #50591e 0%, #50591e 50%, #364002 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #50591e), color-stop(50%, #50591e), color-stop(100%, #364002));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #50591e 0%, #50591e 50%, #364002 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #50591e 0%, #50591e 50%, #364002 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #50591e 0%, #50591e 50%, #364002 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #50591e 0%, #50591e 50%, #364002 100%);
  /* W3C */
  -webkit-box-shadow: black 0.09em 0.09em 0.236em;
  -moz-box-shadow: black 0.09em 0.09em 0.236em;
  box-shadow: black 0.09em 0.09em 0.236em;
  padding: 0.236em 0.618em;
  color: #a0b23c;
  text-shadow: 0px 0.3px #dbe4ae;
  letter-spacing: 0.382em;
  text-align: center;
  margin: 0.618em 0.382em;
  float: right;
}
/* line 129, ../sass/partials/_base.scss */
input[type="submit"]:hover, input[type="reset"]:hover {
  -webkit-box-shadow: black 0.2px 0.2px 0.09em;
  -moz-box-shadow: black 0.2px 0.2px 0.09em;
  box-shadow: black 0.2px 0.2px 0.09em;
  color: #c1cf71;
}

/* line 177, ../sass/partials/_page.scss */
body {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #f9fbf2;
  color: #1d2201;
}

/* line 187, ../sass/partials/_page.scss */
#container {
  width: 76%;
  position: relative;
  margin: 0 auto;
}

/* line 193, ../sass/partials/_page.scss */
#shadowWrapper {
  -webkit-box-shadow: #3b4216 2px 2px 0.618em;
  -moz-box-shadow: #3b4216 2px 2px 0.618em;
  box-shadow: #3b4216 2px 2px 0.618em;
}

/* line 197, ../sass/partials/_page.scss */
header {
  margin: 0 auto;
}

/* line 201, ../sass/partials/_page.scss */
#mainNav {
  position: relative;
  background: #50591e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #50591e 0%, #394015 16%, #364002 50%, #394015 86%, #394015 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #50591e), color-stop(16%, #394015), color-stop(50%, #364002), color-stop(86%, #394015), color-stop(100%, #394015));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #50591e 0%, #394015 16%, #364002 50%, #394015 86%, #394015 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #50591e 0%, #394015 16%, #364002 50%, #394015 86%, #394015 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #50591e 0%, #394015 16%, #364002 50%, #394015 86%, #394015 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #50591e 0%, #394015 16%, #364002 50%, #394015 86%, #394015 100%);
  /* W3C */
  overflow: hidden;
  *zoom: 1;
  color: #a0b23c;
  padding: 0;
  margin: 0;
}
/* line 208, ../sass/partials/_page.scss */
#mainNav ul {
  padding: 0;
}
/* line 210, ../sass/partials/_page.scss */
#mainNav ul li {
  float: left;
  list-style: none;
  padding: 0.618em 1em;
  margin: 0;
  margin-top: -1em;
}
/* line 216, ../sass/partials/_page.scss */
#mainNav ul li a {
  transition: all 0.5s linear 0.3s;
  -moz-transition: all 0.5s linear 0.3s;
  -o-transition: all 0.5s linear 0.3s;
  -webkit-transition: all 0.5s linear 0.3s;
  -ms-transition: all 0.5s linear 0.3s;
  text-shadow: 0 0 0 black;
  font-family: "DroidSerifRegular", Times, serif;
  font-size: 1.112em;
  text-decoration: none;
  color: #a0b23c;
}
/* line 223, ../sass/partials/_page.scss */
#mainNav ul li a:hover {
  color: #ced98f;
}
/* line 229, ../sass/partials/_page.scss */
#mainNav li ul {
  display: none;
}

/* line 234, ../sass/partials/_page.scss */
#logo {
  overflow: hidden;
  *zoom: 1;
  position: relative;
}
/* line 237, ../sass/partials/_page.scss */
#logo #logoImage {
  float: right;
  width: 28%;
  min-width: 17.942em;
  padding: 1em 2.618em 0 0;
}
/* line 243, ../sass/partials/_page.scss */
#logo #front-quote {
  float: left;
  width: 56%;
  margin: -2.618em 0;
  line-height: 0.8;
}
/* line 248, ../sass/partials/_page.scss */
#logo #front-quote h2 {
  font-family: "LoversQuarrelRegular", serif;
  font-size: 4.236em;
  color: #6a644e;
}
/* line 253, ../sass/partials/_page.scss */
#logo #front-quote #erkenning {
  padding-left: 1.618em;
  text-align: right;
  display: inline-block;
}

/* line 261, ../sass/partials/_page.scss */
#front-quote {
  float: left;
}

/* line 265, ../sass/partials/_page.scss */
#main {
  padding: 0;
  margin: 0;
}

/* line 270, ../sass/partials/_page.scss */
#mainWrapper {
  -webkit-box-shadow: #3b4216 2px 2px 0.618em;
  -moz-box-shadow: #3b4216 2px 2px 0.618em;
  box-shadow: #3b4216 2px 2px 0.618em;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1.618em;
  position: relative;
  width: 100%;
  min-height: 17.942em;
  background-color: #edfca1;
  font-family: "CharisSILRegular", Georgia, Times, "Times New Roman", serif;
  border-bottom: 1px solid #50591e;
}

/* line 283, ../sass/partials/_page.scss */
#mainLeft {
  -webkit-box-shadow: #50591e 2px 0 7px;
  -moz-box-shadow: #50591e 2px 0 7px;
  box-shadow: #50591e 2px 0 7px;
  background-color: #f5fdc8;
  position: relative;
  float: left;
  width: 68%;
  padding: 0 1.618em 1.618em;
  border-right: 1px dotted #b4c655;
}
/* line 291, ../sass/partials/_page.scss */
#mainLeft p {
  line-height: 1.34;
}
/* line 294, ../sass/partials/_page.scss */
#mainLeft p:nth-of-type(1) {
  text-indent: 1.618em;
}
/* line 297, ../sass/partials/_page.scss */
#mainLeft h1 {
  margin: 0.618em 0.236em 0.618em -3px;
  font-family: "DroidSerifRegular", Times, serif;
  color: #657026;
}
/* line 304, ../sass/partials/_page.scss */
#mainLeft img.alignleft {
  margin: 0 1.618em 0.618em 0;
}
/* line 307, ../sass/partials/_page.scss */
#mainLeft img.alignright {
  margin: 0 0 1.618em 0.618em;
}
/* line 310, ../sass/partials/_page.scss */
#mainLeft img[align="left"] {
  margin: 0 1.618em 0.618em 0;
}
/* line 313, ../sass/partials/_page.scss */
#mainLeft img[align="right"] {
  margin: 0 0 1.618em 0.618em;
}

/* line 320, ../sass/partials/_page.scss */
#mainRight {
  position: relative;
  float: left;
  width: 32%;
  padding: 0 1.618em 1.618em;
  color: #464e1a;
}
/* line 326, ../sass/partials/_page.scss */
#mainRight p, #mainRight ul, #mainRight ol {
  font-size: 0.86em;
}
/* line 329, ../sass/partials/_page.scss */
#mainRight h3 {
  font-family: "DroidSerifRegular", Times, serif;
  font-size: 1.618em;
  color: #5a6422;
}

/* line 336, ../sass/partials/_page.scss */
.divider {
  position: relative;
  left: -1.618em;
  width: 68%;
  padding: 0.146em 0.618em;
  background-color: #364002;
  color: #c1cf71;
}
/* line 343, ../sass/partials/_page.scss */
.divider h4 {
  margin: 0;
  padding: 0;
}

/* line 350, ../sass/partials/_page.scss */
#linkTest {
  text-align: center;
}

/* line 354, ../sass/partials/_page.scss */
#tableWrapper {
  width: 100%;
}

/* line 358, ../sass/partials/_page.scss */
.imageFit {
  width: 100%;
}

/* line 362, ../sass/partials/_page.scss */
#imageQuote {
  float: right;
  width: 62%;
  text-align: right;
  opacity: 0.36;
}

/* line 369, ../sass/partials/_page.scss */
#hero_image {
  width: 100%;
  height: 17.942em;
  background: url("../images/witte-merel-banner2.jpg");
  background-size: cover;
  line-height: 1;
}
/* line 375, ../sass/partials/_page.scss */
#hero_image h1 {
  text-shadow: 0 0 6px #293102;
  padding: 0.236em 0.618em;
  font-family: "LoversQuarrelRegular", serif;
  font-size: 4.236em;
  color: #edfca1;
}

/* line 385, ../sass/partials/_page.scss */
#imageErkenning {
  display: inline-block;
  position: relative;
  margin-top: -26px;
  color: #f5fdc8;
}

/* line 392, ../sass/partials/_page.scss */
.fixedBox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 396, ../sass/partials/_page.scss */
footer {
  position: relative;
  min-height: 6.854em;
  width: 100%;
  background-color: #364002;
  color: #a0b23c;
}

/* line 7, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 27, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 9, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 67, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 93, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 98, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 104, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

@media only screen and (max-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
  /* line 11, ../sass/partials/_media.scss */
  #container {
    width: 96%;
    position: relative;
    margin: 0 auto;
  }

  /* line 17, ../sass/partials/_media.scss */
  #front-quote {
    display: none;
  }

  /* line 21, ../sass/partials/_media.scss */
  #hero_image h1 {
    font-size: 2.618em;
  }

  /* line 25, ../sass/partials/_media.scss */
  #imageQuote {
    width: 36%;
  }

  /* line 29, ../sass/partials/_media.scss */
  #mainLeft {
    position: relative;
    float: left;
    width: 100%;
    padding: 0 1.618em 1.618em;
    border-right: 1px dotted #b4c655;
  }
  /* line 35, ../sass/partials/_media.scss */
  #mainLeft p:nth-child(2) {
    text-indent: 1.618em;
  }
  /* line 38, ../sass/partials/_media.scss */
  #mainLeft h2 {
    margin-top: 0.618em;
    font-family: "DroidSerifRegular", Times, serif;
    font-size: 2.618em;
    color: #657026;
  }

  /* line 47, ../sass/partials/_media.scss */
  #mainRight {
    position: relative;
    float: left;
    width: 100%;
    padding: 0 1.618em 1.618em;
    color: #464e1a;
  }
  /* line 53, ../sass/partials/_media.scss */
  #mainRight p, #mainRight ul, #mainRight ol {
    font-size: 0.86em;
  }
  /* line 56, ../sass/partials/_media.scss */
  #mainRight h3 {
    font-family: "DroidSerifRegular", Times, serif;
    font-size: 1.618em;
    color: #5a6422;
  }
}
@media only screen and (max-width: 600px) {
  /* Style adjustments for viewports 480px and over go here */
  /* line 67, ../sass/partials/_media.scss */
  #container {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }

  /* line 72, ../sass/partials/_media.scss */
  #imageQuote {
    width: 100%;
    float: left;
    text-align: left;
  }
}
@media print {
  /* line 11, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 19, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 23, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 42, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 47, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 52, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 56, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 66, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 72, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-h5bp-0.1.0/stylesheets/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
