@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";
@import 'modular-scale';
@import "fonts";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
body, select, input, textarea {
  color: $font-color;
  font-size: $font-base;
}

//-----------------------------------
//   fonts
//-----------------------------------
@include font-face-fanwood-regular;
@include font-face-fanwood-italic;
@include font-face-lovers-quarel;
@include font-face-charis-regular;
@include font-face-crete-round-regular;
@include font-face-droid-serif-regular;

$main-font: 'CharisSILRegular', Georgia, Times, "Times New Roman", serif;
$header-font: 'DroidSerifRegular', Times, serif;
$main-font-italic: 'FanwoodItalic', serif;
$main-font-bold: 'CharisSILBold', serif;
$script-font: 'LoversQuarrelRegular', serif;

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

h1,h2,h3,h4,h5,h6 {
	color: $middleGreen;
}

h1 {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: $step3-gold-em;
}

h2 {
	font-size: $step2-gold-em;
}

h3 {
	font-size: $step1-gold-em;
}

h4 {
	font-size: $step-1-gold-em;
}

h5 {
	font-size: $step-2-gold-em;
}

h6 {
	font-size: $step-3-gold-em;
}

a {
	text-decoration: none;
	color: lighten($darkGreen, 19);
	-moz-transition: all 0.3s ease 0.2s;
	transition: all 0.3s ease 0.2s;
		&:hover {
			text-decoration: none;
			color: lighten($darkGreen, 16);
		}
		&:visited {
			text-decoration: none;
			color: lighten($middleGreen, 6);
		}
}

p>a:visited {
	text-decoration: none;
	color: lighten($darkGreen, 19);
}

a:focus {
	outline: 0;
}

ul {
	list-style-image: url('../images/check.png'); 
}

ul ul {
	list-style: disc;
}

ol ol {
	list-style-type: circle;
}

table {
	margin: 0 auto;
}

td {
	@include border-box-fixed;
	padding: $step-1-gold-em;
	border: 1px solid $darkGreen;
	font-size: 0.9*($step1-gold-em);
}

th {
	@include border-box-fixed;
	text-align: left;
	border: 1.6px solid adjust-saturation($darkGreen, 36);
	padding: 0 $step1-gold-em;
}

thead th {
	border: none;
	text-transform: lowercase;
	font-variant: small-caps;
	font-weight: normal;
	font-family: header-font;
	padding-bottom: $step-1-gold-em;
	}


button {
	@include buttonStyle;
}

blockquote p {
		&:before {
			content: open-quote;
			padding-right: 0.308em;
		}
		&:after {
			content: close-quote;
			padding-left: 0.308em;
		}
}

fieldset {
	border: 1px solid $middleGreen;
	background-color: lighten($middleGreen, 56);
}

label {
	display: inline-block;
	min-width: $step6-gold-em;
	border-bottom: 1px dotted $darkGreen;
}

input[type="text"], textarea {
	color: darken($darkGreen, 6);
	margin: $step1-gold-em 0;
	background-color: lighten($middleGreen, 64);
	font-family: $main-font;
	padding: 0 $step-3-gold-em;
}

textarea {
	@include gradient-light-green;
}

input[type="submit"], input[type="reset"] {
	@include buttonStyle;
	margin: $step-1-gold-em $step-2-gold-em;
	float: right;
}

body {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #f9fbf2;
	color: darken($darkGreen, 6);
	// background-image: url('../images/vintage_speckles.png');
}

#container {
	width: 76%;
	position: relative;
	margin: 0 auto;
}

#shadowWrapper {
	@include outerShadow;
}

header {
	margin: 0 auto;
}

#mainNav {
	position: relative;
	@include gradient-darkbar;
	@include clearfix;
	color: $lightGreen;
	padding: 0;
	margin: 0;
		ul {
			padding: 0;
			li {
				float: left;
				list-style: none;
				padding: $step-1-gold-em $step1-gold-em;
				margin: 0;
				margin-top: -1em;
					a { 
						@include multi-transition();
						@include textShadow();
						font-family: $header-font;
						font-size: 1.112em;
						text-decoration: none;		
						color: $lightGreen;
							&:hover {
								color: lighten($lightGreen, 24);
							}
					}
			}
		}
		li ul {
			display: none;
		}	
}

#logo {
	@include clearfix;
	position: relative;
		#logoImage {
			float: right;
			width: 28%;
			min-width: $step7-gold-em;
			padding: $step1-gold-em $step3-gold-em 0 0;
		}	
		#front-quote {
			float: left;
			width: 56%;
			margin: -($step3-gold-em) 0 ;
			line-height: 0.8;
				h2 {
					font-family: $script-font;
					font-size: $step4-gold-em;
					color: hsl(47, 15%, 36%);
				}
		#erkenning {
			padding-left: $step2-gold-em;
			text-align: right;
			display: inline-block;
		}
}
}

#front-quote {
	float: left;
}

#main {
	padding: 0;
	margin: 0;
}

#mainWrapper {
	@include outerShadow;
	@include clearfix;
	margin-bottom: $step2-gold-em;
	position: relative;
	width: 100%;
	min-height: $step7-gold-em;
	background-color: lighten($darkGreen, 68);
	font-family: $main-font; 
	border-bottom: 1px solid $middleGreen;
		
}

#mainLeft {
	@include box-shadow($middleGreen 2px 0 7px);
	background-color: lighten($darkGreen, 76);
	position: relative;
	float: left;
	width: 68%;
	padding: 0 $step2-gold-em $step2-gold-em;
	border-right: 1px dotted lighten($middleGreen, 32);
		p {
			line-height: 1.34;
		}
		p:nth-of-type(1) {
			text-indent: $step2-gold-em;
		}
		h1 {
			margin: $step-1-gold-em $step-3-gold-em $step-1-gold-em -3px;
			font-family: $header-font;
			// font-size: $step3-gold-em;
			color: lighten($middleGreen, 6);
		}
		img {
				&.alignleft {
					margin: 0 $step2-gold-em $step-1-gold-em 0;
				}
				&.alignright {
					margin: 0  0 $step2-gold-em $step-1-gold-em;
				}
				&[align="left"] {
					margin: 0 $step2-gold-em $step-1-gold-em 0;
				}
				&[align="right"] {
					margin: 0  0 $step2-gold-em $step-1-gold-em;
				}
		}

}

#mainRight {
	position: relative;
	float: left;
	width: 32%;
	padding: 0 $step2-gold-em $step2-gold-em;
	color: darken($middleGreen, 3);
		p, ul, ol {
			font-size: 0.86*($step1-gold-em);
		}
		h3 {
			font-family: $header-font;
			font-size: $step2-gold-em;
			color: lighten($middleGreen, 3);
		}
}

.divider {
	position: relative;
	left: -($step2-gold-em);
	width: 68%;
	padding: $step-4-gold-em $step-1-gold-em;
	background-color: $darkGreen;
	color: lighten($lightGreen, 16);
		h4 {
			margin: 0;
			padding: 0;

		}
}

#linkTest {
	text-align: center;
}

#tableWrapper {
	width: 100%;
}

.imageFit {
	width: 100%;
}

#imageQuote {
	float: right;
	width: 62%;
	text-align: right;
	opacity: 0.36;
}

#hero_image  {
	width: 100%;
	height: $step7-gold-em;
	background: url('../images/witte-merel-banner2.jpg');
	background-size: cover;
	line-height: 1;
		h1 {
			text-shadow: 0 0 6px darken($darkGreen, 3);
			padding: $step-3-gold-em $step-1-gold-em;
			font-family: $script-font;
			font-size: $step4-gold-em;
			color: lighten($darkGreen, 68);

		}
}

#imageErkenning {
	display: inline-block;
	position: relative;
	margin-top: -26px;
	color: lighten($darkGreen, 76);
}

.fixedBox {
	@include border-box-fixed;
}

footer {
	position: relative;
	min-height: $step5-gold-em;
	width: 100%;
	background-color: $darkGreen;
	color: $lightGreen;
}
